<div class="card mb-3 shadow-sm">
  <div class="card-header fw-bold">
    Spool Details
  </div>
  <div class="card-body">
    <!-- Filament Color Badge and Name -->
    <div class="d-flex align-items-start mb-3">
      <div class="me-3">
                {% set spool_color = current_spool.filament.color_hex %}
                {% if spool_color %}
                <span class="badge d-inline-block"
                      style="background-color: #{{ spool_color }}; width: 40px; height: 40px; border-radius: 5px;">
                </span>
                {% else %}
                <span class="badge d-inline-block missing-color"
                      style="background-color: var(--bs-secondary, #6c757d); width: 40px; height: 40px; border-radius: 5px;"
                      title="Color not set">
                </span>
                {% endif %}
      </div>
      <div>
        <h5 class="card-title mb-0">{{ current_spool.filament.name }} - {{ current_spool.filament.material }}</h5>
        <small class="text-muted">{{ current_spool.filament.vendor.name }}</small>
      </div>
    </div>

    <!-- Filament Details -->
    <div class="row mb-2">
      <div class="col-6">
        <p class="mb-1"><strong>Remaining Weight:</strong> {{ current_spool.remaining_weight|round(2) }}g</p>
        <p class="mb-1"><strong>Remaining Length:</strong> {{ current_spool.remaining_length|round(0) }}mm</p>
      </div>
      <div class="col-6">
        <p class="mb-1"><strong>Nozzle Temp:</strong> {{ current_spool.filament.extra.nozzle_temperature }}</p>
        <p class="mb-1"><a href="{{ SPOOLMAN_BASE_URL }}/spool/show/{{ current_spool.id }}" target="_blank">view in spoolman <i class="bi bi-box-arrow-up-right"></i></a></p>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted container">
    <div class="row">
      <div class="col-sm-6"><small>Registered: {{ current_spool.registered }}</small></div>
      <div class="col-sm-6"><small>Last Used: {% if current_spool.last_used %}{{ current_spool.last_used[:16] | replace('T', ' ') }}{% else %}-{% endif %}</small></div>
    </div>
  </div>
</div>
